body, h1 {
  margin: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

mdb-carousel .carousel-indicators {
  display: none;
}

.back-drop {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.submit-button {
  margin: 50px;
}
